@use '../../utils/styles/fonts';
@use '../../utils/styles/variables';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Metropolis', sans-serif;
}

.footer {
    background-color: #393E40;
    color: #FFF;
    font-size: 14px;
    padding: 0 10px 30px;

    &__mobileViewBtn {
        height: 16px;
    }

    .plus {
        content: url(plus.svg);
        height: 100%;
    }

    .minus {
        content: url(minus.svg);
        height: 100%;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        flex-direction: column;
        padding: 16px;
    }

    &__listItem {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    &__heading {
        text-align: start;
        padding: 10px 0 0;
        font-weight: variables.$bold;
        display: flex;
        justify-content: space-between;
    }

    &__line {
        width:100%;
        padding: 20px 0 40px;

        .line {
            float:left;
            height:1px;
        }
    }

    &__lineColorRed {
        background-color: #F74137;
        width: 7%;
        opacity: 1;
    }

    &__lineColorWhite {
        background-color: #FFF;
        width: 93%;
        opacity: 0.2;
    }

    &__nestedList {
        flex-direction: column;
        list-style: none;
        display: none;
    }

    &__nestedListItem {
        margin: 0;
    }

    &__nestedListItemParagraph {
        text-align: start;
        padding: 15px 0;
    }

    &__nestedListItemAnchor {
        text-decoration: none;
        color: #FFF;
        font-weight: variables.$regular;
    }
}

.copyright {
    background-color: #FFF;
    color: #111;
    padding: 22px 30px;

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__listItem {
        list-style: none;
        text-align: center;
        font-weight: variables.$regular;
    }
}

@media (min-width: 768px) {
    .footer {
        &__mobileViewBtn {
            display: none;
        }

        &__btnIcon {
            display: none;
        }

        &__list {
            flex-direction: row;
            width: 100%;
            padding: 0;
        }

        &__listItem {
            width: 90%;
        }

        &__nestedList {
            display: block !important;
        }
    }

    .copyright {
        &__list {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}