@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/metropolis-thin-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/metropolis-thinitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/metropolis-extralight-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/metropolis-extralightitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/metropolis-light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/metropolis-lightitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/metropolis-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/metropolis-regularitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/metropolis-medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/metropolis-mediumitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/metropolis-semibold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/metropolis-semibolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/metropolis-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/metropolis-bolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/metropolis-extrabold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/metropolis-extrabolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/metropolis-black-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/metropolis-blackitalic-webfont.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Metropolis", sans-serif;
}

.whyUs {
  overflow: hidden;
  position: relative;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
.whyUs__icon1 {
  content: url(../photos/about_us/delivery.png);
}
.whyUs__icon2 {
  content: url(../photos/about_us/search.png);
}
.whyUs__icon3 {
  content: url(../photos/about_us/refund.png);
}
.whyUs__img {
  position: absolute;
  height: 100%;
}
.whyUs__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.whyUs__content {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.whyUs__heading {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
.whyUs__line {
  width: 100%;
  display: flex;
}
.whyUs__lineColorRed {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F74137;
  width: 60px;
  border-width: 0;
  height: 3px;
}
.whyUs__lineColorWhite {
  background-color: #fff;
  width: 100%;
  opacity: 0.1;
  border-width: 0;
  height: 1px;
}
.whyUs__paragraph {
  align-self: center;
  text-align: center;
  width: 100%;
  margin: 45px;
  font-size: 16px;
  font-weight: 400;
}
.whyUs__list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: column;
}
.whyUs__listItem {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.whyUs__listItemIcon {
  margin-bottom: 5px;
}
.whyUs__listItemSpan {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}
.whyUs__btn {
  font-weight: bold;
  padding: 20px;
  background-color: #F74137;
  border: 0;
  width: 50%;
  align-self: center;
  margin-top: 20px;
}
.whyUs__btnSpan {
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.whyUs__btnSpanAnchor {
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  font-weight: bold;
}

@media (min-width: 768px) {
  .whyUs__img {
    object-fit: cover;
    object-position: center top;
    opacity: 0.5;
    width: 100%;
    height: auto;
  }
  .whyUs__content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .whyUs__list {
    flex-direction: row;
  }
  .whyUs__listItem {
    width: 200px;
  }
  .whyUs__listItemIcon {
    margin-bottom: 5px;
  }
  .whyUs__listItemSpan {
    font-weight: bold;
    margin-top: 5px;
  }
  .whyUs__btn {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .whyUs__list {
    flex-direction: row;
  }
  .whyUs__listItem {
    width: 270px;
  }
  .whyUs__listItemIcon {
    margin-bottom: 10px;
  }
  .whyUs__listItemSpan {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .whyUs {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .whyUs__heading {
    font-size: 44px;
  }
  .whyUs__paragraph {
    font-size: 18px;
    width: 53%;
  }
  .whyUs__listItem {
    width: 308px;
    height: 151px;
  }
  .whyUs__listItemSpan {
    font-size: 14px;
  }
  .whyUs__btn {
    width: 246px;
    height: 55px;
  }
  .whyUs__btnSpan {
    font-size: 14px;
  }
}

/*# sourceMappingURL=about_us.css.map */
