@use '../utils/styles/fonts';
@use '../utils/styles/variables';


ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #F2F3F5;
    width: 100%;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 10px;
    Font-family: 'Metropolis', sans-serif;
  }
  ul.breadcrumb li+li:before {
    padding: 10px;
    color: #c5c6d0;
    content: "—";
  }
  ul.breadcrumb li a {
    color: black;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: black;
    text-decoration: underline;
  }