* {
  box-sizing: border-box;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
}

.slides-container {
  padding: 0;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 0;
}

.slide-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E1E2E8;
  margin-bottom: 5px;
  &--current {
    border: 1px solid black;
  }
}

.slides-container::-webkit-scrollbar {
}

.slide-arrow {
  display: inline-block;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 100ms;
  transform: rotate(90deg);
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

.slide-arrow-vertical {
  background: #c1c2c6 0% 0% no-repeat padding-box;
  width: 70px;
  height: 40px;
  border: none;
  flex-shrink: 0;
  flex-grow: 1;
  &--prev {
    margin-bottom: 10px;
  }
  &--next {
    margin-top: 10px;
  }
}

.slide {
  width: 100%;
  text-align: center;
  height: 100%;
  margin-top: 100px;
  flex: 0 0 96%;
}

.slide:nth-child(1) {
}

.slide:nth-child(2) {
}

.slide:nth-child(3) {
}

.slide:nth-child(4) {
}

.fa-solid {
  color: #ffffff;
  font-size: 19px;
}

.fa-solid,
.fas {
  font-weight: 900;
  display: block;
  margin-bottom: 5px;
}

.image_149 {
  width: 31px;
  height: 52px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.slide {
  width: 70px;
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e1e2e8;
  opacity: 1;
  margin-top: 6px;
  cursor: pointer;
}
