body{
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 360px 1560px; /* Dwie kolumny o równych proporcjach */
    grid-template-areas: "div1 div2"; /* Układ divów w siatce */
  }
  
  .div1 {
    background-color: red;
    grid-area: div1; /* Przypisanie diva do obszaru div1 */
  }
  
  .div2 {
    background-color:blue;
    grid-area: div2; /* Przypisanie diva do obszaru div2 */
  }

  .catalog__footer{
    display: flex;
  }