@use '../utils/styles/fonts';
@use '../utils/styles/variables';

body {
  font-family: "Metropolis", sans-serif;
}

.category_slider {
  display: flex;
  height: 80px;
  flex-wrap: nowrap;
}

img {
  width: 35px;
  height: 59px;
}

.category_slider__imgBox {
  width: 80px;
  height: 80px;
  display: grid;
  border: 1px solid #E1E2E8;
  opacity: 1;
  align-items: center;
  justify-items: center;
}

.category_slider__imgBox:hover {
  border-bottom:  2px solid #F5740B;
}

.category_slider__text {
  width: 60%;
  height: 80px;
  display: grid;
  border: 1px solid #E1E2E8;
  opacity: 1;
  align-items: center;
  justify-items: left;
  border-left: none;
  padding-left:20px;
}

.category_slider__box {
  display: flex;
  width: 250px;
  margin: 5px;
  cursor: pointer;
}

.orange {
  border-bottom:  2px solid #F5740B;
}

@media (max-width: 767px) {
  .category_slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    height: 0px;
  }

  .category_slider__box {
    display: flex;
    width: 250px;
    margin: 5px;
    cursor: pointer;
    flex-shrink: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 768px) {
  .category_slider {
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    width: -75%;
  }
}