#more {
    display: none;
    overflow: hidden;
    transition: height 400ms;
}

.container button {
    outline: none;
    overflow: hidden;
    transition: height 400ms;
}

#more {
    overflow: hidden;
    transition: height 400ms;
}

.lapa {
    overflow: hidden;
    transition: height 400ms;
    height: 80px;
    margin: 0px;
}

.hej {
    margin: 0px;
    display: inline;
    transition: height 400ms;
}

hr {
    width: 90%;
    display: inline-flex;
    margin: 9px;
    transition: height 400ms;
}

#btn {
    outline: none;
    overflow: hidden;
    display: inline-flex;
    transition: height 400ms;
    cursor: pointer;
    margin-left: 15px;
    text-align: left;
    font: normal normal bold 14px/14px Metropolis;
    letter-spacing: -0.28px;
    color: #22262c;
    text-transform: uppercase;
    opacity: 1;
}

#dots {
    transition: height 400ms;
}

.lapa2 {
    display: flex;
    margin-top: 20px;
    transition: height 400ms;
}

.line {
    opacity: 1;
    background-color: #e1e2e8;
    width: 94%;
    height: 1px;
    margin-top: 6px;
    transition: height 400ms;
}