@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/metropolis-thin-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/metropolis-thinitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/metropolis-extralight-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/metropolis-extralightitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/metropolis-light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/metropolis-lightitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/metropolis-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/metropolis-regularitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/metropolis-medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/metropolis-mediumitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/metropolis-semibold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/metropolis-semibolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/metropolis-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/metropolis-bolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/metropolis-extrabold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/metropolis-extrabolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/metropolis-black-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/metropolis-blackitalic-webfont.woff2") format("woff2");
}
.parameters_box_text_top_description {
  text-align: center;
  display: grid;
  color: #111111;
  opacity: 1;
  border-top: 1px solid #e1e2e8;
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 3px;
  padding-top: 50px;
  border-bottom: 1px solid #e1e2e8;
}

.description_box_text_line {
  left: 50%;
  width: 60px;
  height: 3px;
  background: #f74137 0% 0% no-repeat padding-box;
  opacity: 1;
  transform: translate(-50%);
  position: relative;
  margin-top: 25px;
}

.description_layout {
  position: absolute;
  top: 1049px;
  left: 0px;
  width: 100%;
  height: 532px;
  opacity: 1;
}

.description_box {
  width: 100%;
  opacity: 1;
  padding-top: 23px;
}

.description_box_text {
  width: 68%;
  height: 100px;
  text-align: left;
  font: normal normal normal 19px/27px Metropolis;
  letter-spacing: -0.38px;
  color: #111111;
  opacity: 1;
  /* position: relative; */
  margin-top: 120px;
  margin-left: 280px;
}

.description_box_text2 {
  height: 310px;
  letter-spacing: -0.32px;
  color: #111111;
  opacity: 1;
  position: relative;
  margin-left: 280px;
  width: 72%;
}

.description_span_big_top {
  height: 36px;
  width: 35%;
  display: flex;
  text-align: left;
  letter-spacing: -0.32px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
}

.description_span_big_down {
  letter-spacing: -0.32px;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

.description_span1 {
  text-align: left;
  letter-spacing: -0.32px;
  color: #111111;
  position: relative;
}

.description_span2 {
  height: 16px;
  text-align: left;
  color: #111111;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

.description_span_down {
  height: 16px;
  text-align: left;
  color: #111111;
  position: relative;
  display: flex;
  margin-top: 30px;
}

.test {
  left: 565px;
  width: 790px;
  height: 420px;
  opacity: 1;
  position: relative;
  margin-top: 40px;
}

.description_box_product {
  text-align: left;
  width: 74%;
  margin: auto;
  margin-top: 40px;
}

.description_box_product_h2 {
  font-size: 17;
  font-family: "Metropolis", sans-serif;
}

.description_box_product_text {
  margin-bottom: 20px;
  margin-top: 20px;
}

.description_box_product_text_top {
  font-size: 17;
  margin-bottom: 20px;
}

/*# sourceMappingURL=description.css.map */
