@use "../utils/styles/fonts";
@use "../utils/styles/variables";
.parameters_box_text_top_description {
    height: 50px;
    position: relative;
    text-align: center;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
    margin-bottom: 17px;
}

.description_box_text_line {
    left: 930px;
    width: 60px;
    height: 3px;
    background: #f74137 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.description_layout {
    position: absolute;
    top: 1049px;
    left: 0px;
    width: 1920px;
    height: 532px;
    opacity: 1;
}

.description_box {
    left: 0px;
    width: 1920px;
    height: 71px;
    opacity: 1;
    border-bottom: 1px solid #e1e2e8;
    position: relative;
}

.description_box_text {
    left: 160px;
    width: 1511px;
    height: 177px;
    text-align: left;
    font: normal normal normal 19px/27px Metropolis;
    letter-spacing: -0.38px;
    color: #111111;
    opacity: 1;
    position: relative;
    margin-top: 65px;
}

.description_box_text2 {
    left: 160px;
    width: 1432px;
    height: 310px;
    text-align: left;
    letter-spacing: -0.32px;
    color: #111111;
    opacity: 1;
    position: relative;
    margin-top: -50px;
}

.description_span_big_top {
    top: 0px;
    left: 0px;
    width: 330px;
    height: 16px;
    text-align: left;
    font: normal normal bold 16px/21px Metropolis;
    letter-spacing: -0.32px;
    color: #111111;
    text-transform: uppercase;
}

.description_span_big_down {
    top: 189px;
    left: 0px;
    width: 579px;
    height: 16px;
    text-align: left;
    font: normal normal bold 16px/21px Metropolis;
    letter-spacing: -0.32px;
    color: #111111;
    text-transform: uppercase;
    position: absolute;
}

.description_span1 {
    top: 63px;
    left: 0px;
    width: 1389px;
    height: 16px;
    text-align: left;
    font: normal normal normal 16px/21px Metropolis;
    letter-spacing: -0.32px;
    color: #111111;
    position: absolute;
}

.description_span2 {
    top: 126px;
    left: 0px;
    width: 1425px;
    height: 16px;
    text-align: left;
    font: normal normal normal 16px/21px Metropolis;
    letter-spacing: -0.32px;
    color: #111111;
    position: absolute;
}

.description_span_down {
    top: 252px;
    left: 0px;
    width: 1233px;
    height: 16px;
    text-align: left;
    font: normal normal normal 16px/21px Metropolis;
    letter-spacing: -0.32px;
    color: #111111;
    position: absolute;
}

.test {
    left: 565px;
    width: 790px;
    height: 420px;
    opacity: 1;
    position: relative;
    margin-top: 40px;
}