/* Error: expected "{".
 *    ,
 * 18 | >>>>>>> 7b89815cf6afd87aec8598566d6de760b9b164c3
 *    |                                                 ^
 *    '
 *   styles\header.scss 18:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 18 \2502  >>>>>>> 7b89815cf6afd87aec8598566d6de760b9b164c3\d\a    \2502                                                  ^\a    \2575 \a   styles\\header.scss 18:49  root stylesheet';
}
