@use '../utils/styles/fonts';
@use '../utils/styles/variables';
* {
    margin: 0px;
}

body{
  font-family: 'Metropolis', sans-serif;
}

span {
    font-weight: variables.$bold;
}


  .photo {
      margin: auto;
      padding: 15px;
  }

  .menu {
      display: none;
  }

  .menu-long {
      display: flex;
      flex-direction: column;
  }

  .menu__item {
      display: block;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      color: #111111;
      border: 1px solid rgb(230, 231, 233);
      font-size: 12px;
  }

  .menu__text {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
  }

  .mobile__block {
      display: block;
      width: 20%;
      text-align: center;
      color: #111111;
      margin: auto;
      padding: 10px;
  }

  .menu__lo span {
      display: none;
  }

  .menu__lo1 span {
      display: none;
  }


@media (min-width: 768px) {
  .menu-long {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .photo {
      margin: 0;
  }
}

@media (min-width: 1200px) {
  .mobile__block {
      padding: 0;
  }

  .hamburger {
      display: none;
  }

  .menu__lo span {
      display: flex;
  }

  .menu__lo1 span {
      display: flex;
  }

  .menu__lo1-border {
      border-right: 1px solid rgb(230, 231, 233);
      padding-right: 15px;
  }

  .menu__lo-padding {
      padding-right: 15px;
  }

  .main-container{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: 3;
  }

  .container{
      width: 100%;
      height: 100%;
      display: inline-block;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(230, 231, 233);
  }

  .menu-container{
      display: flex;
      box-sizing: border-box;
      width: 100%;
      display: inline-flex;
      justify-content: space-around;
  }

  .menu__item{
      display: inline ;
      text-align: center;
      padding: 20px;
      width: 100%;
      text-decoration: none;
      color: black;
  }

  .photo{
      margin: 10px;
      padding: 0;
  }

  .menu-long{
      border: 1px solid rgb(230, 231, 233);
      box-sizing: border-box;
      border-bottom: none;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
  }

  .menu__text{
      display: flex;
      align-items: center;
      margin-right: 20px;
      GAP: 65px;
  }

  .menu__lo{
      display: flex;
      /* margin-right: 52px; */
      align-items: center;
      text-decoration: none;
      flex-grow: 1;
      color: black;
      word-break: keep-all;
      white-space: nowrap;
      padding-right: 15px;
  }

  .menu__lo:hover{
      transform: translateY(-2px);
  }

  .menu{
      display: flex !important;
      border-top: 1px solid rgb(230, 231, 233);
      height: 3%;
  }

  .box{
      text-align: center;
      width: 100%;
      height: 400px;
      border: solid black;
      padding: 10px;
      margin: 5px;
      box-sizing: border-box;
  }

  .menu__lo1 {
      display: flex;
      height: 64%;
      justify-content: space-evenly;
      position: relative;
      transition: all 0.6s ease-in-out;
      text-align: center;
      border: 1px solid rgb(230, 231, 233);
      padding-left: 10px;
      align-items: center;
      color: black;
      text-decoration: none;
  }

  .menu__lo1:before{
      content: '';
      background: #9BCB3B;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.5s ease-in-out;
  }

  .menu__lo1:hover {
      background-position: 0;
  }

  .menu__lo1:hover::before{
      width: 100%;
      justify-content: center;
  }

  .button1{
      background-color: #9BCB3B;
      width: 35px;
      height: 55px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .yk{
      display: flex;
      margin: 20px;
  }

  .menu__item {
      z-index: 2;
      appearance: none;
      background-color: #FFFFFF;
      border-width: 0;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1em;
      margin: 0;
      opacity: 1;
      outline: 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-rendering: geometricprecision;
      text-transform: uppercase;
      transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      white-space: nowrap;
      text-align: center;
      width: 30%;
  }

  .menu__item:before {
      animation: opacityFallbackOut .5s step-end forwards;
      backface-visibility: hidden;
      background-color: #EBEBEB;
      clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
      width: 100%;
  }

  .menu__item:hover:before {
      animation: opacityFallbackIn 0s step-start forwards;
      clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }

  .menu__item:after {
      background-color: #FFFFFF;
  }

  .menu__item span {
      z-index: 1;
      position: relative;
  }

  .material-symbols-outlined{
      vertical-align: sub;
  }

  .menu__lo2{
      background-color: #9BCB3B;
      height: 65%;
      display: flex;
      text-decoration: none;
      color: white;
      width: 4%;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
  }

  .menu__lo2:hover{
      opacity: 50%;
      transition: 0.2s;
  }

  .menu__item--right {
      text-align: right;
      width: 20%
  }

  .menu__item--left {
      text-align: left;
      width: 20%
  }
}