@use '../utils/styles/fonts';
@use '../utils/styles/variables';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Metropolis', sans-serif;
    background-color: #F2F3F4;
}

.carousel {
    &__carousel {

    }

    &__carouselDiv {
        
    }

    &__carouselDivImage {
        
    }

    &__carouselDivHeading {
        
    }

    &__carouselDivSpan {
        
    }

    &__carouselDivParagraph {
        
    }

    &__carouselDivBtn {
        
    }

    &__carouselBtn {
        
    }
}

@media (min-width: 1200px) {
    .carousel {
        display: flex;
        flex-direction: column;
        &__carousel {
            width: 1860px;
            height: 595px;
            padding: 30px;
        }

        &__carouselDiv {

        }

        &__carouselDivImage {
            width: 100%;
            height: 100%;
        }

        &__carouselDivText {

        }

        &__carouselDivHeading {

        }

        &__carouselDivSpan {
            
        }

        &__carouselDivParagraph {
            
        }

        &__carouselDivBtn {
            
        }

        &__carouselBtn {
            
        }
    }
}