// @use "../utils/styles/fonts";
// @use "../utils/styles/variables";

.home-carousel {
  position: relative;

  &__dots-container {
    width: max-content;
    margin: 5px auto;
    position: relative;
  }

  &__dot {
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    opacity: .8;
    background: #323940;
    border-radius: 50%;

    &--current {
      background: #F74137;
    }

    &:first-child {
      margin: 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
  }

  &__image-container::after {
    content: '';
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(0,0,0,0.55));
  }

  &__element {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    width: 100%;
    height: 100%;

    &--current {
      opacity: 1;
    }

    &-content {
      padding: 70px;
      position: absolute;
    }
  }

  &__container {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
  }

  &__arrow {
    user-select: none;
    cursor: pointer;
    background-color: white;
    color: #323940;
    opacity: .6;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    display: flex;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}