a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.home-carousel {
  position: relative;
}
.home-carousel__link {
  color: white;
}
.home-carousel__button {
  margin-top: 15px;
  transition: border-color 0.3s, background-color 0.3s;
  box-sizing: border-box;
  width: 200px;
  height: 55px;
  border: 1px solid #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Metropolis", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-style: none;
  color: white;
}
.home-carousel__button:hover {
  background-color: #F74137;
  border: none;
  cursor: pointer;
}
.home-carousel__title {
  color: white;
  z-index: 23;
  font-size: 44px;
  font-weight: bold;
}
.home-carousel__description {
  color: white;
  font-size: 22px;
  font-weight: normal;
  width: 400px;
}
.home-carousel__h2 {
  font-size: 44px;
}
.home-carousel__dots-container {
  width: -moz-max-content;
  width: max-content;
  margin: 5px auto;
  position: relative;
}
.home-carousel__dot {
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
  opacity: 0.8;
  background: #323940;
  border-radius: 50%;
}
.home-carousel__dot--current {
  background: #F74137;
}
.home-carousel__dot:first-child {
  margin: 0;
}
.home-carousel__image {
  width: 100%;
  height: 100%;
  -o-object-position: center top;
     object-position: center top;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-carousel__image-container::after {
  content: "";
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.55));
}
.home-carousel__element {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  width: 100%;
  height: 100%;
}
.home-carousel__element--current {
  opacity: 1;
}
.home-carousel__element-content {
  padding: 70px;
  position: absolute;
  z-index: 2;
  margin-left: 40px;
  margin-top: 65px;
}
.home-carousel__container {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;
}
.home-carousel__arrow {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: white;
  color: #323940;
  opacity: 0.6;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  display: flex;
}
.home-carousel__arrow--left {
  left: 0;
}
.home-carousel__arrow--right {
  right: 0;
}

.home-carousel__description p {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .home-carousel__element {
    display: flex;
    align-items: center;
  }
  .home-carousel__element-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
  }
  .home-carousel__title {
    font-size: 1.5em;
  }
  .home-carousel__description {
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    overflow-wrap: break-word;
  }
  .home-carousel__description h2 {
    font-size: 1.3em;
  }
}/*# sourceMappingURL=home_carousel.css.map */