// @use "../utils/styles/fonts";
// @use "../utils/styles/variables";

.carousel {
  position: relative;

  &__dots-container {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -25px;
  }

  &__dot {
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    opacity: .8;
    background: black;
    border-radius: 50%;

    &--current {
      background: #F74137;
    }
  }

  &__element {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    width: 100%;
    height: 100%;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--current {
      opacity: 1;
    }

    &-content {
      padding: 70px;
      position: absolute;
    }
  }

  &__container {
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
  }

  &__arrow {
    user-select: none;
    cursor: pointer;
    background-color: white;
    color: black;
    opacity: .8;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    display: flex;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}