@charset "UTF-8";
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/metropolis-thin-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/metropolis-thinitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/metropolis-extralight-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/metropolis-extralightitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/metropolis-light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/metropolis-lightitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/metropolis-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/metropolis-regularitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/metropolis-medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/metropolis-mediumitalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/metropolis-semibold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/metropolis-semibolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/metropolis-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/metropolis-bolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/metropolis-extrabold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/metropolis-extrabolditalic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/metropolis-black-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/metropolis-blackitalic-webfont.woff2") format("woff2");
}
body {
  font-family: "Metropolis", sans-serif;
}

.bg {
  width: 100%;
  height: 851px;
  background: #f2f3f4 0% 0% no-repeat padding-box;
  opacity: 1;
}

.nag {
  width: 100%;
  height: 71px;
  opacity: 1;
}

.text {
  font-family: "Metropolis", sans-serif;
  /* czcionka */
  margin-top: 30px;
  height: 80px;
  top: 1266px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #111111;
  opacity: 1;
}

.rectangle {
  top: 1333px;
  left: 930px;
  width: 60px;
  height: 3px;
  background: #f74137 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.border {
  margin-right: 20px;
  width: 1920px;
  height: 1px;
  background: #e1e2e8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.product_tile {
  margin-top: 30px;
  margin-left: 23px;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 4;
  user-select: none;
  width: 350px;
  height: 560px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow: hidden;
  border-right: 1px solid #E1E2E8 ;
  border-bottom: 1px solid #E1E2E8;


}

.seeallproducts {
  font-family: "Metropolis", sans-serif;
  font-weight: bold;
  /* czcionka */
  color: white;
  margin-top: 35px;
  top: 1947px;
  left: 801px;
  width: 318px;
  height: 55px;
  background: #f74137 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.photo {
  content: url("../photos/products/Photo – 1.png");
  top: 1427px;
  left: 73px;
  width: 270px;
  height: 270px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}

.photo img {
  width: 100%;
  height: 100%;
}

.dsc {
  height: 40px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding-top: 5px;
}

.price {
  height: 40px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.dsc1 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
}

.dsc2 {
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #111111;
  opacity: 1;
}

.price1 {
  text-align: center;
  text-decoration: line-through;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #a3a3a3;
  opacity: 1;
}

.price2 {
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #111111;
  opacity: 1;
}

.addtocart {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 190px;
  margin-top: 80px;
}


.addtocart {
  display: none;
}



.buybutton {
  width: 50px;
  height: 50px;
  background: #9bcb3b;
  display: flex;
  margin-left: 8px;
}

.buybutton-icon {
  content: url(../static/cart.svg);
  width: 60%;
  height: 60%;
  margin: auto;
}

.counter {
  height: 48px;
}

/*# sourceMappingURL=similar.css.map */


/*# sourceMappingURL=item.css.map */
