@use "../utils/styles/fonts";
@use "../utils/styles/variables";
.nav-long {
    background-color: #f8f8f8;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

span {
    padding: 12px;
    width: 185px;
    background-color: #ffffff;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    letter-spacing: -0.28px;
    color: #111111;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.cate {
    display: flex;
    margin-left: 50px;
}

span:hover {
    background-color: #f74137;
    color: #ffffff;
}

.blue {
    background-color: #f74137;
    color: #ffffff;
}