.parameters_box {
  left: 0px;
  width: 100%;
  height: 110px;
  opacity: 1;
  border-bottom: 1px solid #e1e2e8;
  position: relative;
  margin-bottom: 30px;
}

.parameters_box_text_top {
  font-size: 29px;
  position: relative;
  text-align: center;
  letter-spacing: 0px;
  color: #111111;
  padding-top: 55px;
  margin-bottom: 18px;
  opacity: 1;
  font-weight: 700;
}

.parameters_box_detail_line {
  top: 2074px;
  text-align: center;
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-top: 1px solid #ff0000;
  opacity: 1;
  width: 50px;
}

.parameters_box_detail_white_1 {
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e1e2e8;
  opacity: 1;
  width: 97%;
  left: 31px;
  position: relative;
  text-align: center;
}

.parameters_box_detail_blue_1 {
  height: 50px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e1e2e8;
  opacity: 1;
  display: inline-block;
  width: 97%;
  left: 31px;
  position: relative;
  text-align: center;
}

.parameters_box_text_span1 {
  height: 14px;
  text-align: right;
  font: normal normal normal 14px/20px Metropolis;
  letter-spacing: -0.28px;
  color: #111111;
  opacity: 1;
  position: relative;
  z-index: 3;
}

.parameters_box_text_span2 {
  text-align: left;
  font: normal normal normal 14px/20px Metropolis;
  letter-spacing: -0.28px;
  color: #111111;
  opacity: 1;
  position: relative;
  height: 14px;
}

.parameters_box_text1 {
  left: 695px;
  width: 205px;
  height: 367px;
  opacity: 1;
  position: relative;
  z-index: 2;
  margin-top: 15px;
  text-align: right;
}

.parameters_box_text2 {
  left: 695px;
  width: 205px;
  height: 367px;
  opacity: 1;
  position: relative;
  z-index: 2;
  margin-top: 15px;
  text-align: left;
}

.parameter_box_text_line {
  left: 50%;
  width: 60px;
  height: 3px;
  background: #f74137 0% 0% no-repeat padding-box;
  opacity: 1;
  transform: translate(-50%);
  position: relative;
}

.parameters_box_text_span_line_between1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e1e2e8;
  opacity: 1;
  position: relative;
  left: 230px;
  width: 1px;
  height: 30px;
  text-align: center;
  top: -25px;
}

.parameters_layout {
  padding-bottom: 50px;
}

.parameters_box_vertical_line {
  width: 1px;
  height: 30px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: #e1e2e8 0% 0% no-repeat padding-box;
  opacity: 1;
  display: inline-flex;
  margin-inline: 60px;
  margin-top: 10px;
}

.parameters_box_description {
  display: inline-flex;
  position: relative;
  top: -8px;
}

.parameters_box_description_center {
  text-align: center;
  display: inline;
}

.tbody {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e2e8;
  height: 50px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  background-color: #f2f3f4;
}

.textk {
  border: 1px solid #e1e2e8;
  height: 35px;
  margin-left: 50px;
  margin-right: 50px;
  border-left: none;
}

.tbody2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e2e8;
  height: 50px;
  border-right: none;
  border-left: none;
  background-color: #f2f3f4;
}

.tbody1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e2e8;
  height: 50px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.tab__container {
  width: 92%;
  margin: auto;
}

/*# sourceMappingURL=parameters.css.map */
