@use '../utils/styles/fonts';
@use '../utils/styles/variables';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Metropolis', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

.plus {
    content: url(../static/plus.svg);
    height: 12px;
    width: 12px;
    color: #323940;
}

.minus {
    content: url(../static/minus.svg);
    height: 12px;
    width: 12px;
    color: #323940;
}

.sidebar {
    width: 100%;
    color: #111;

    &__heading {
        display: flex;
        justify-content: space-between;
        border: 1px solid #E1E2E8;
        padding: 20px;
        font-size: 15px;
        font-weight: variables.$bold;
    }

    &__hr {
        background-color: #F74137;
        border: none;
        height: 2px;
    }

    &__list {
        width: 100%;
    }

    &__listItem {
        display: flex;
        justify-content: space-between;
        border: 1px solid #E1E2E8;
        padding: 20px;
    }

    &__listItem:hover {
        background-color: #F8F8F8;
        transition: background-color .3s ease-out;
    }

    &__listItemAnchor {
        display: block;
        padding: 20px auto 20px 20px;
        align-self: center;
    }

    &__listItemSpan {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: variables.$regular;
    }

    &__nestedList {
        display: none;
    }

    &__nestedListItem {
        border: 1px solid #E1E2E8;
        background-color: #F8F8F8;
    }

    &__nestedListItem:hover {
        background-color: #e1e2e8;
        transition: background-color .3s ease-out;
    }

    &__nestedListItemAnchor {
        display: block;
        padding: 20px 40px 20px;
    }

    &__nestedListItemSpan {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: variables.$regular;
    }
}


@media (max-width: 767px) {
    body {
        margin: 15px;
    }

    .sidebar {

        &__list {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .sidebar {

        &__heading-btn {
            display: none;
        }

        &__list {
        display: flex !important;
        flex-direction: column;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .sidebar {
        padding: 15px;
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 300px;
        padding: 30px;
    }
}